<table width="100%">
	#foreach ($link in $links)
	<tr><td><a href="$link.Url" class="$link.LinkClass">$link.Text</a></td></tr>
  #end
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>
      <a title="Download and execute to setup a development workspace of %ProjectName%-%ProjectCodeLineName%."  href="WorkspaceSetup/%ProjectName%-%ProjectCodeLineName%-WorkspaceSetup.exe" >
        %ProjectName%-%ProjectCodeLineName% Workspace Setup
      </a>
    </td>
  </tr>
</table>