<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE dashboard [
  <!ENTITY HostName                 '%HostName%' >
  <!ENTITY ProjectName              '%ProjectName%' >
  <!ENTITY ProjectCodeLineName      '%ProjectCodeLineName%' >
  <!ENTITY ProjectsDirectory        '%ProjectsDirectory%' >
  <!ENTITY ProjectRootDirectory     '&ProjectsDirectory;\&ProjectName;' >
  <!ENTITY ProjectCodeLineDirectory '&ProjectRootDirectory;\&ProjectCodeLineName;' >
  <!ENTITY ProductDirectory         '&ProjectCodeLineDirectory;\Product' >
  <!ENTITY ThirdPartyDirectory      '&ProjectCodeLineDirectory;\Third Party' >
  <!ENTITY ProductionDirectory      '&ProductDirectory;\Production' >
  <!ENTITY BuildDirectory           '&ProjectCodeLineDirectory;\Build' >
  <!ENTITY ArtifactRootDirectory    '&BuildDirectory;\Artifacts' >
  <!ENTITY NantBinPath              '&BuildDirectory;\nAnt\bin' >
  <!ENTITY NantExePath              '&NantBinPath;\nant.exe' >
  <!ENTITY PackagesDirectory        '&BuildDirectory;\Packages' >
  <!ENTITY webURL                   'http://&HostName;/&ProjectName;-&ProjectCodeLineName;/default.aspx?_action_ViewFarmReport=true'>
]>
<dashboard>
	<remoteServices>
		<servers>
			<server name="&ProjectName;-&ProjectCodeLineName;" url="tcp://localhost:%CCNET.ServerPort%/CruiseManager.rem" />
		</servers>
	</remoteServices>
	<plugins>
		<farmPlugins>
			<farmReportFarmPlugin />
			<cctrayDownloadPlugin />
		</farmPlugins>
		<serverPlugins>
			<serverReportServerPlugin />
			<serverLogServerPlugin />
			<serverInformationServerPlugin />
		</serverPlugins>
		<projectPlugins>
			<projectReportProjectPlugin />
			<latestBuildReportProjectPlugin />
			<viewAllBuildsProjectPlugin />
		</projectPlugins>
		<buildPlugins>
      <buildReportBuildPlugin imageFileName="images/BuildReport.gif">
				<xslFileNames>
					<xslFile>xsl\header.xsl</xslFile>
					<xslFile>xsl\modifications.xsl</xslFile>
          <xslFile>xsl\compile.xsl</xslFile>
				</xslFileNames>
			</buildReportBuildPlugin>
			<buildLogBuildPlugin imageFileName="images/Log.gif"/>
      <xslReportBuildPlugin description="NAnt Output" actionName="NAntOutputBuildReport" xslFileName="xsl\Nant.xsl" imageFileName="images/NAntOutput.gif" />
			<xslReportBuildPlugin description="NAnt Timings" actionName="NAntTimingsBuildReport" xslFileName="xsl\NantTiming.xsl" imageFileName="images/NAntTimings.gif"/>
      <artifactXslBuildPlugin description="Post Build" actionName="PostBuildNAntOutputBuildReport" xslFileName="xsl\Nant.xsl" artifactRootUrl="/&ProjectName;-&ProjectCodeLineName;/Artifacts" xmlFileName="postbuildlog.xml" imageFileName="images/NAntOutput.gif"/>
      <artifactViewBuildPlugin description="Artifact View" actionName="ArtifactView" artifactRootUrl="/&ProjectName;-&ProjectCodeLineName;/Artifacts" imageFileName="images/Artifacts.gif"/>
		</buildPlugins>
	</plugins>
</dashboard>