<?xml version="1.0" encoding="utf-8" ?> 
<dashboard>
	<remoteServices>
		<servers>
			<server name="%ProjectName%" url="tcp://localhost:%CCNET.ServerPort%/CruiseManager.rem" />
		</servers>
	</remoteServices>
	<plugins>
		<farmPlugins>
			<farmReportFarmPlugin />
			<cctrayDownloadPlugin />
		</farmPlugins>
		<serverPlugins>
			<serverReportServerPlugin />
			<serverLogServerPlugin />
			<serverInformationServerPlugin />
		</serverPlugins>
		<projectPlugins>
			<projectReportProjectPlugin />
			<latestBuildReportProjectPlugin />
			<viewAllBuildsProjectPlugin />
		</projectPlugins>
		<buildPlugins>
      <buildReportBuildPlugin imageFileName="images/BuildReport.gif">
				<xslFileNames>
					<xslFile>xsl\header.xsl</xslFile>
					<xslFile>xsl\modifications.xsl</xslFile>
          <xslFile>xsl\compile.xsl</xslFile>
				</xslFileNames>
			</buildReportBuildPlugin>
			<buildLogBuildPlugin imageFileName="images/BuildLog.gif"/>
      <xslReportBuildPlugin description="NAnt Output" actionName="NAntOutputBuildReport" xslFileName="xsl\Nant.xsl" imageFileName="images/NAntOutput.gif" />
			<xslReportBuildPlugin description="NAnt Timings" actionName="NAntTimingsBuildReport" xslFileName="xsl\NantTiming.xsl" imageFileName="images/NAntTimings.gif"/>
      <artifactXslBuildPlugin description="Post Build NAnt Output" actionName="PostBuildNAntOutputBuildReport" xslFileName="xsl\Nant.xsl" artifactRootUrl="/%ProjectName% Artifacts" xmlFileName="postbuildlog.xml" imageFileName="images/NAntPostBuildOutput.gif"/>
      <artifactViewBuildPlugin description="Artifact View" actionName="ArtifactView" artifactRootUrl="/%ProjectName% Artifacts" imageFileName="images/Artifacts.gif"/>
		</buildPlugins>
	</plugins>
</dashboard>