<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE configuration [
  <!ENTITY % entities SYSTEM "..\Entities.xml">

  %entities;
]>
<configuration>
	<configSections>
		<section name="xslFiles" type="ThoughtWorks.CruiseControl.Core.Config.XslFilesSectionHandler,ThoughtWorks.CruiseControl.Core"/>
	</configSections>
	
	<!-- Specifies the stylesheets that are used to transform the build results when using the EmailPublisher -->
	<xslFiles>
		<file name="xsl\header.xsl" />
		<file name="xsl\compile.xsl" />
		<file name="xsl\modifications.xsl" />
	</xslFiles>
   	
	<!-- Sets the trace level and trace listeners used for instrumenting the ccnet server.  The ccnet server logs to the event log and to file by default. -->
	<system.diagnostics>
		<switches>
<!--		<add name="CruiseControlSwitch" value="1" /> --> <!-- Error: Output only error messages --> 
<!--		<add name="CruiseControlSwitch" value="2" /> --> <!-- Warning: All warnings and errors --> 
<!--		<add name="CruiseControlSwitch" value="3" /> -->	 <!-- Info: All warnings, errors and informational messages -->
			<add name="CruiseControlSwitch" value="4" /> <!-- Debug: All messages -->
		</switches>
		<trace autoflush="true" indentsize="4">
			<listeners>
				<add name="EventLogListener" type="System.Diagnostics.EventLogTraceListener" />
				<add name="LogFileTraceListener" type="ThoughtWorks.CruiseControl.Core.Util.LogFileTraceListener,ThoughtWorks.CruiseControl.Core" initializeData="ccnet.log" />				
				<remove name="Default"/> 
			</listeners>
		</trace>
	</system.diagnostics>

   	<appSettings>
      <add key="ServerLogFilePath" value="ccnet.log" /><!-- Used by the WebDashboard ServerLog plugin to locate the log file produced by the LogFileTraceListener (above) -->
      <add key="ServerLogFileLines" value="100" /><!-- Used by the WebDashboard ServerLog plugin to determine how many lines from the log file should be read -->
      <add key="WatchConfigFile" value="true" /><!-- Turns on or off the file watcher used to monitor the ccnet.config file -->
      <add key="Port" value="&Port;"/>
      <add key="ccnet.config" value="&Common.Directory.Build.Path;\ccnetproject.xml" />
      <add key="service.name" value="CCNET-&ProjectName;-&ProjectCodeLineName;" />
      <add key="remoting" value="on" />
	</appSettings>
	
</configuration>
