<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="parameters" type="Params.ParamConfigurationSectionHandler, Param.NET" allowLocation="false"/>
  </configSections>

  <parameters autoGenerateParams="false" defaultOptional="true" shortControlString="-" longControlString="--" attribChars=":">
    <param longName="TestAssembly" shortName="t" type="string" description="The test assembly."></param>
    <param longName="ReportFile" shortName="o" type="string" description="The file to write the report to." defaultValue="C:\Temp\TestCoverage.html">C:\Temp\TestCoverage.html</param>
    <param longName="ReportFormat" shortName="f" type="string" description="The report format (Xml, Html)." defaultValue="Html">Html</param>
    <param longName="ProjectName" shortName="p" type="string" description="The report format (Xml, Html)." defaultValue="Html">Html</param>
  </parameters>
  
</configuration>